.chat-main-container {
    width: 70%;
    margin: 0 auto;
    height: 500px;

    .prompt-container {
        display: flex;
        align-items: flex-end;
        padding-right: 20px;
        display: flex;
        height: 100px;
        height: 120px;

        .prompt-bot-icon {
            height: 110px;
        }

        .prompt-text-area {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 20px;

            .length-error {
                color: rgb(217, 43, 43);
                font-family: 'Inter', sans-serif;
                -webkit-font-smoothing: antialiased;
                display: flex;
                justify-content: flex-end;
                position: relative;
                position: absolute;
                top: 1089px;
                margin-left: 30px;
            }

            label {
                font-family: 'Inter', sans-serif;
                -webkit-font-smoothing: antialiased;
                padding: 25px 0 0 10px;
                color: rgb(184, 179, 217);
                margin-bottom: 10px;
                font-size: 1.2rem;
            }

            .prompt {
                border: 2px solid red;
                background: rgba(45, 42, 90, 1);
                color: rgb(184, 179, 217);
                font-family: 'Inter', sans-serif;
               -webkit-font-smoothing: antialiased;
                height: 40px;
                border-radius: 10px;
                border: none;
                font-size: 1.2rem;
                font-weight: 300;
                padding: 5px 30px;
            }
            .prompt::placeholder {
                color: rgb(184, 179, 217);
                opacity: 0.7;
            }
        }
    }

    .submit-button-style {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(45, 42, 90, 1);
        color: rgb(184, 179, 217);
        font-family: 'Inter', sans-serif;
        -webkit-font-smoothing: antialiased;
        height: 40px;
        width: 170px;
        border-radius: 10px;
        font-size: 1.1rem;
        font-weight: 700;
        padding: 5px 35px;
        margin-top: 59px;
        cursor: pointer;
        transition: 0.2s ease;
        border: none;
        &:hover {
            background: rgb(63, 58, 131);
            transition: 0.2s ease;
        }
    }

    .submit-button-disable-style {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(83, 83, 83);
        color: rgb(255, 255, 255);
        font-family: 'Inter', sans-serif;
        -webkit-font-smoothing: antialiased;
        height: 40px;
        border-radius: 10px;
        border: none;
        font-size: 1.1rem;
        font-weight: 700;
        padding: 5px 35px;
        margin-top: 59px;
        cursor: not-allowed;
        transition: 0.2s ease;
        width: 170px;
        opacity: .4;
    }

    .ai-response-container {
        background: rgba(45, 42, 90, 1);
        color: rgb(184, 179, 217);
        font-family: 'Inter', sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 1.3rem;
        border-radius: 10px;
        min-height: 150px;
        margin-top: 30px;
        padding: 20px 30px;
        font-weight: 300;
        margin-right: 20px;
        line-height: 1.4;
    }
    .hidden {
        display: none;
    }
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    
    .x {
        background:  rgb(184, 179, 217);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 20px;
        font-size: 1.4rem;
        padding-bottom: 5px;
        cursor: pointer;
        transition: 0.2s ease;
        position: absolute;
        right: 10px;
        bottom: 25px;
        &:hover {
            background: rgb(231, 227, 255);
            transition: 0.2s ease;
        }
    }
}
