.chat-main-container {
    width: 70%;
    margin: 0 auto;
    height: 500px;

    .prompt-container {
        padding-right: 20px;
        display: flex;
        height: 100px;
        height: 120px;

        .prompt-bot-icon {
            height: 110px;
        }
        .prompt-text-area {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 20px;

            label {
                padding: 25px 0 0 10px;
                font-family: 'Inter', sans-serif;
                -webkit-font-smoothing: antialiased;
                color: rgb(184, 179, 217);
                margin-bottom: 10px;
                font-size: 1.2rem;
            }

            .prompt {
                background: rgba(45, 42, 90, 1);
                color: rgb(184, 179, 217);
                font-family: 'Inter', sans-serif;
               -webkit-font-smoothing: antialiased;
                height: 40px;
                border-radius: 10px;
                border: none;
                font-size: 1.2rem;
                font-weight: 300;
                padding: 5px 30px;
                // width: 90%;
            }
            .prompt::placeholder {
                color: rgb(184, 179, 217);
                opacity: 0.7;
            }
        }
    }

    .submit-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(184, 179, 217);
        background: none;
        color: rgb(184, 179, 217);
        font-family: 'Inter', sans-serif;
        -webkit-font-smoothing: antialiased;
        height: 48px;
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: 700;
        padding: 5px 35px;
        margin-top: 59px;
        cursor: pointer;
        transition: 0.2s ease;
        width: 150px;
        &:hover {
            border: 1px solid rgb(184, 179, 217);
            background: rgb(55, 51, 113);
            transition: 0.2s ease;
        }
    }

    .ai-response-container {
        background: rgba(45, 42, 90, 1);
        color: rgb(184, 179, 217);
        font-family: 'Inter', sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 1.2rem;
        border-radius: 10px;
        min-height: 150px;
        margin-top: 30px;
        padding: 20px 30px;
        font-weight: 300;
        margin-right: 20px;
    }
}
