
.nasa-dropdown {
    margin: 0 15px;
}

.nasa-dropdown .btn {
    background-color: rgb(184, 179, 217);
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    border: none;
    font-weight: 400;
    color: black;
    
    &:hover {
        background: rgb(123, 119, 146);
    }
}
