.main-header-container {
    background: linear-gradient(
        180deg,
        rgba(45, 42, 90, 1) 0%,
        rgb(4, 4, 4) 100%
    );

    .upper-container {
        color: white;
        height: 200px;
        display: flex;

        .left {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            .planet-logo {
                transform: scale(80%);
            }
        }
        .right {
            display: flex;
            align-items: center;
            color: white;
            font-size: 5rem;
            font-weight: 600;
        }
        .tagline {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 300;
            margin-left: 20px;
            padding-top: 40px;
        }
    }
    .lower-container {
        border-top: 1px solid rgb(184, 179, 217);
        display: flex;
        color: white;
        padding: 20px;
        
        .link-style {
            color: rgb(184, 179, 217);
            margin-right: 10px;
            font-weight: 300;
            font-size: 1.2rem;
            height: 25px;
            transition: 0.4s ease;
            
            &:hover {
                color: rgb(228, 228, 228);
                transition: 0.4s ease;
                transform: scale(1.02);
                cursor: pointer;
            }
        }
    }
}
